@use "./styles/global.scss";

.AppMainContent-container {
  position: absolute;
  top: global.$headerHight;
  left: global.$menuWidth;
  height: calc(100% - global.$headerHight);
  width: calc(100% - global.$menuWidth);
  background: blue;
  transition: all 0.5s ease-in-out;;

  &.hidden-menu{
    left: 0;
    width: 100%;
  }
}
